.node-red/.flows.json.backup
[
    {
        "id": "e81c82f0fb798f75",
        "type": "tab",
        "label": "Websockets",
        "disabled": false,
        "info": "Connections for all websockets",
        "env": []
    },
    {
        "id": "ddabf604f4570dc6",
        "type": "subflow",
        "name": "Get pull request data",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "a23c2e7f030ac9c0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 120,
                "wires": [
                    {
                        "id": "56f0861332a1ed7e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 740,
                "y": 180,
                "wires": [
                    {
                        "id": "701f027f0ba51940",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ELEMENT_ID",
                "type": "str",
                "value": "github"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e774f15a3553987d",
        "type": "subflow",
        "name": "Get all pages",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 160,
                "wires": [
                    {
                        "id": "b4b1be8c2ab03922"
                    },
                    {
                        "id": "58dc94a659875e4f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 180,
                "wires": [
                    {
                        "id": "2bf0ae5d87b0934b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b2e529d46e7cf874",
        "type": "subflow",
        "name": "Jira",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 140,
                "wires": [
                    {
                        "id": "b79523fb1918ec7b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 140,
                "wires": [
                    {
                        "id": "9cccb65ad8e8f865",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 200,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3c30ffa1bea72201",
        "type": "subflow",
        "name": "Create websocket response",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 360,
                "y": 220,
                "wires": [
                    {
                        "id": "f414c1fae7b57b47"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 220,
                "wires": [
                    {
                        "id": "f414c1fae7b57b47",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "overwrite",
                "type": "bool",
                "value": "false"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1768fb7d724da3dc",
        "type": "websocket-listener",
        "path": "ws/data",
        "wholemsg": "false"
    },
    {
        "id": "a23c2e7f030ac9c0",
        "type": "http request",
        "z": "ddabf604f4570dc6",
        "name": "Fetch Github Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.github.com/repos/ab2d2/tech-wallboard-app/pulls?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "701f027f0ba51940"
            ]
        ]
    },
    {
        "id": "701f027f0ba51940",
        "type": "switch",
        "z": "ddabf604f4570dc6",
        "name": "Continue if successful",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "56f0861332a1ed7e"
            ],
            []
        ]
    },
    {
        "id": "56f0861332a1ed7e",
        "type": "function",
        "z": "ddabf604f4570dc6",
        "name": "Transform",
        "func": "const prs = msg.payload;\n\nconst openPrs = prs.filter((pr) => pr.state === 'open').length;\nconst closedPrs = prs.filter((pr) => pr.state === 'closed').length;\n\nmsg.payload = {\n    id: env.get('ELEMENT_ID'),\n    categories: ['Development', 'PRs'],\n    primaryElement: {\n        title: 'Pull Requests',\n        type: 'bar',\n        data: [\n            {\n                label: 'Open',\n                value: openPrs,\n            },\n            {\n                label: 'Closed',\n                value: closedPrs,\n            }\n        ]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "8543b403b1fb25ea"
            ]
        ]
    },
    {
        "id": "8543b403b1fb25ea",
        "type": "debug",
        "z": "ddabf604f4570dc6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "7308c05963ae6d24",
        "type": "join",
        "z": "e774f15a3553987d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "2bf0ae5d87b0934b"
            ]
        ]
    },
    {
        "id": "7d14fb2f3fb60e62",
        "type": "template",
        "z": "e774f15a3553987d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"id\":\"test-3\",\n    \"categories\":[\"Development\",\"Test\"],\n    \"primaryElement\":{\n        \"type\":\"doughnut\",\n        \"data\": [\n            {\"label\":\"Point 1\",\"value\":1},\n            {\"label\":\"Point 1\",\"value\":2}\n        ]\n    }\n}",
        "output": "json",
        "x": 360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b4b1be8c2ab03922",
        "type": "subflow:ddabf604f4570dc6",
        "z": "e774f15a3553987d",
        "name": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "7308c05963ae6d24"
            ],
            [
                "386ba4c099710a12"
            ]
        ]
    },
    {
        "id": "58dc94a659875e4f",
        "type": "subflow:b2e529d46e7cf874",
        "z": "e774f15a3553987d",
        "name": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "7308c05963ae6d24"
            ],
            [
                "386ba4c099710a12"
            ]
        ]
    },
    {
        "id": "2bf0ae5d87b0934b",
        "type": "function",
        "z": "e774f15a3553987d",
        "name": "filter out failed requests ",
        "func": "console.log(msg.filter);\n\nreturn {payload: msg.payload.filter((msg) => !msg.failed)};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "386ba4c099710a12",
        "type": "change",
        "z": "e774f15a3553987d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.failed",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9cccb65ad8e8f865",
        "type": "template",
        "z": "b2e529d46e7cf874",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"id\": \"jira\",\n    \"categories\": [\"Delivery\", \"Stories\"],\n    \"primaryElement\": {\n        \"type\": \"bar\",\n        \"title\": \"Stories Completed\",\n        \"data\": [\n            {\n                \"label\": \"Last sprint\",\n                \"value\": 10\n            },\n            {\n                \"label\": \"This sprint\",\n                \"value\": 15\n            }\n        ]\n    }\n}",
        "output": "json",
        "x": 500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b79523fb1918ec7b",
        "type": "delay",
        "z": "b2e529d46e7cf874",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "9cccb65ad8e8f865"
            ]
        ]
    },
    {
        "id": "f414c1fae7b57b47",
        "type": "function",
        "z": "3c30ffa1bea72201",
        "name": "Create websocket response",
        "func": "const data = Array.isArray(msg.payload) ? \n    msg.payload : [msg.payload];\n\nreturn {\n    ...msg,\n    payload: {\n        data: data,\n        overwrite: env.get('overwrite')\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "86e82fad63db9c57",
        "type": "websocket out",
        "z": "e81c82f0fb798f75",
        "name": "",
        "server": "1768fb7d724da3dc",
        "client": "",
        "x": 1130,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c1aa4e6f09bc183",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print changes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "2db0fc54da79773f",
        "type": "inject",
        "z": "e81c82f0fb798f75",
        "name": "Run on interval",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "0ba7dfd5c88c3863"
            ]
        ]
    },
    {
        "id": "cf7e07634541bab7",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "86c29ca36fa17358",
        "type": "rbe",
        "z": "e81c82f0fb798f75",
        "name": "Send if changed from last run",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "a8e3bf46a6313374"
            ]
        ]
    },
    {
        "id": "0ba7dfd5c88c3863",
        "type": "subflow:ddabf604f4570dc6",
        "z": "e81c82f0fb798f75",
        "name": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "86c29ca36fa17358"
            ],
            [
                "cf7e07634541bab7"
            ]
        ]
    },
    {
        "id": "a2acf8661c2be077",
        "type": "inject",
        "z": "e81c82f0fb798f75",
        "name": "Run on startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"id\":\"test\",\"categories\":[\"Development\",\"Test\"],\"primaryElement\":{\"type\":\"pie\",\"data\":[{\"label\":\"Point 1\",\"value\":1},{\"label\":\"Point 1\",\"value\":2}]}}",
        "payloadType": "json",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "74ebb4a555fa3d65",
                "e62d293a96f57452"
            ]
        ]
    },
    {
        "id": "473ee856d33ebaa9",
        "type": "websocket in",
        "z": "e81c82f0fb798f75",
        "name": "Request all pages",
        "server": "1768fb7d724da3dc",
        "client": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a58f519aa43cb9da",
                "950216f468bdbae5"
            ]
        ]
    },
    {
        "id": "74ebb4a555fa3d65",
        "type": "subflow:e774f15a3553987d",
        "z": "e81c82f0fb798f75",
        "name": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "6d83c1ad086beed8"
            ]
        ]
    },
    {
        "id": "ee67643cad0e809f",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print pages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b8ccce31bc78396",
        "type": "websocket out",
        "z": "e81c82f0fb798f75",
        "name": "Send pages",
        "server": "1768fb7d724da3dc",
        "client": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d83c1ad086beed8",
        "type": "subflow:3c30ffa1bea72201",
        "z": "e81c82f0fb798f75",
        "name": "",
        "env": [
            {
                "name": "overwrite",
                "value": "true",
                "type": "bool"
            }
        ],
        "x": 800,
        "y": 100,
        "wires": [
            [
                "ee67643cad0e809f",
                "8b8ccce31bc78396"
            ]
        ]
    },
    {
        "id": "a8e3bf46a6313374",
        "type": "subflow:3c30ffa1bea72201",
        "z": "e81c82f0fb798f75",
        "name": "",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "86e82fad63db9c57",
                "7c1aa4e6f09bc183"
            ]
        ]
    },
    {
        "id": "a58f519aa43cb9da",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "950216f468bdbae5",
        "type": "rbe",
        "z": "e81c82f0fb798f75",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "74ebb4a555fa3d65"
            ]
        ]
    },
    {
        "id": "e62d293a96f57452",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9486c73f906a05c",
        "type": "websocket out",
        "z": "e81c82f0fb798f75",
        "name": "",
        "server": "1768fb7d724da3dc",
        "client": "",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "535363e9089ac519",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print changes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "c83fe765be385023",
        "type": "inject",
        "z": "e81c82f0fb798f75",
        "name": "Simulate updating one page",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "de0eee7873b68530"
            ]
        ]
    },
    {
        "id": "1f20925b14d495fe",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "a9299c8a3db43125",
        "type": "subflow:3c30ffa1bea72201",
        "z": "e81c82f0fb798f75",
        "name": "",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "a9486c73f906a05c",
                "535363e9089ac519"
            ]
        ]
    },
    {
        "id": "de0eee7873b68530",
        "type": "template",
        "z": "e81c82f0fb798f75",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"id\": \"jira\",\n    \"categories\": [\"Delivery\", \"Stories\"],\n    \"primaryElement\": {\n        \"type\": \"bar\",\n        \"title\": \"Stories Completed\",\n        \"data\": [\n            {\n                \"label\": \"Last sprint\",\n                \"value\": 5\n            },\n            {\n                \"label\": \"This sprint\",\n                \"value\": 12\n            }\n        ]\n    }\n}",
        "output": "json",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "a9299c8a3db43125"
            ]
        ]
    },
    {
        "id": "551ef5f9f3f69d6d",
        "type": "websocket out",
        "z": "e81c82f0fb798f75",
        "name": "",
        "server": "1768fb7d724da3dc",
        "client": "",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "374e110bc956c603",
        "type": "debug",
        "z": "e81c82f0fb798f75",
        "name": "Print changes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 800,
        "wires": []
    },
    {
        "id": "363d496b015d63fd",
        "type": "inject",
        "z": "e81c82f0fb798f75",
        "name": "Simulate adding a page",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "d314b1e96c981ebb"
            ]
        ]
    },
    {
        "id": "41107df94b2946a8",
        "type": "subflow:3c30ffa1bea72201",
        "z": "e81c82f0fb798f75",
        "name": "",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "551ef5f9f3f69d6d",
                "374e110bc956c603"
            ]
        ]
    },
    {
        "id": "d314b1e96c981ebb",
        "type": "template",
        "z": "e81c82f0fb798f75",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"id\": \"jira-2\",\n    \"categories\": [\"Delivery\", \"Stories\"],\n    \"primaryElement\": {\n        \"type\": \"bar\",\n        \"title\": \"Stories Completed 2\",\n        \"data\": [\n            {\n                \"label\": \"Last sprint\",\n                \"value\": 5\n            },\n            {\n                \"label\": \"This sprint\",\n                \"value\": 12\n            }\n        ]\n    }\n}",
        "output": "json",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "41107df94b2946a8"
            ]
        ]
    }
]